@import "./mixins.scss";
@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

.header {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__social {
    li {
      margin: 0 0 0 15px;
    }
  }
  &__nav {
    li {
      margin: 0 30px;
      a {
        @include font(20px, 28px, 400);
        color: $primary-blue;
      }
    }
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0 0 0;

  &-description {
    &__colors {
      h2 {
        @include font(20px, 28px, 700);
        margin: 0 0 10px 0;
        color: $black;
        text-transform: uppercase;
      }
      ul {
        display: flex;
      }
      li {
        button {
          width: 25px;
          height: 25px;
          border-radius: 100%;
          margin: 0 12px 0 0;
          border: none;
          &[data-color="pink"] {
            background-color: $pink;
          }
          &[data-color="blue"] {
            background-color: $blue;
          }
          &[data-color="purple"] {
            background-color: $purple;
          }
          &[data-color="green"] {
            background-color: $green;
          }
          &[data-color="black"] {
            background-color: $black;
          }
        }
        &:last-of-type {
          button {
            margin: 0;
          }
        }
      }
    }
  }
}
